.container {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  color: #fff;
  background-color: #21333ef5;
  padding: 15px;
  box-shadow: 0 0 15px black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: .75rem;
  right: 0;
  color: #00ffff;
  font-size: 3rem;
  cursor: pointer;
}

.left, .right {
  padding: 15px;
  text-align: left;
}

.sup {
  margin-bottom: 2rem;
}

.left .sup h2 {
  font-weight: 400;
}

.left .sup h1 {
  font-size: 3rem;
  color: #ffffff;
}

.left .sup h3 {
  font-weight: 400;
  font-size: 6rem;
  color: #00ffff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left .sup p, .sup span {
  font-size: 0.8em;
  background-color: #21333e;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid white;
}

.inf p {
  background-color: #21333e;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid white;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right img {
  background-color: #21333e;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid white;
}

.right h3 {
  margin: 20px 0 10px 0;
}

.right h4 {
  background-color: #21333e;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid white;
}

.right p {
  color: #00ffff;
  margin-bottom: 10px;
}

@media only screen and (max-width:576px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .left, .right {
    text-align: center;
  }
}