.container {
  display: flex;
  padding: 15px;
  position: relative;
}

.detail_ctn {
  position: absolute;
  z-index: 100;
  left: 10%;
  right: 10%;
  top: 0;
}

.detail_ctn::before {
  content: '';
  position: absolute;
  right: -100%;
  top: -100%;
  bottom: -10%;
  left: -100%;
}

.aside {
  min-width: 280px;
  max-width: 400px;
}

.search_ctn {
  display: flex;
  align-items: center;
}

.location {
  color: #00ffff;
  background-color: #21333e;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.searchWrapper {
  background-color: #21333e;
  border: 1px solid #ffffff;
  color: white;
  width:max-content;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 25px;
}

.searchWrapper:hover {
  border: 1px solid #00ffff;
  color: #00ffff;
}

.search{
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.search:focus-visible {
  outline: none;
}

.button {
  cursor: pointer;
}

.cards_ctn {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width:728px) {
  .detail_ctn {
    left: 1%;
    right: 1%;
  }
  .detail_ctn::before {
    right: 0;
    left: 0;
  }
}

@media only screen and (max-width:665px) {
  /* .detail_ctn {
    left: 1%;
    right: 1%;
  } */
  .container {
    flex-direction: column;
    align-items: center;
  }
}

